@import url(https://fonts.bunny.net/css?family=rancho:400);

body {
    margin: auto;
    width: 80%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier;
}

h2 {
  margin-bottom: 0px;
}

a {
  font-size: 16px;   
  text-decoration: none;
}

pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

pre code {
  text-align: left;
  font-size: 11pt;
  padding: 5px;
  background-color: rgb(125, 125, 125);
  color: rgb(255, 255, 255);
  overflow: auto;
  white-space: pre;
  display: block;
  border-radius: 10px;

}

.headline {
  font-family: 'Rancho', handwriting;
  font-size: 400%;
  padding: 0; 
  margin: 0;
}

.copy {
  font-size: 16px;  
  color: rgb(125, 125, 125);
}

/* unvisited link */
.link:link {
    color: rgb(125, 125, 125);
    text-decoration: none;
  }
  
  /* visited link */
  .link:visited {
    color: rgb(125, 125, 125);
  }
  
  /* mouse over link */
  .link:hover {
    color: rgb(24, 53, 76);
    text-decoration: underline;
  }
  
  /* selected link */
  .link:active {
    color: rgb(125, 125, 125);
  }

.heading-link {
  font-size: 20pt;
  color: rgb(125, 125, 125);
  text-decoration: none;
  margin-left: 10px;
}

  .heading-link:hover {
    opacity: 100;
    color: rgb(24, 53, 76);
    text-decoration: none;
  }