@import url(https://fonts.bunny.net/css?family=rancho:400);

body {
    margin: auto;
    width: 80%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier;
}

h2 {
  margin-bottom: 0px;
}

a {
  font-size: 16px;   
  text-decoration: none;
}

pre {
  margin-top: 0px;
  margin-bottom: 0px;
}

pre code {
  text-align: left;
  font-size: 11pt;
  padding: 5px;
  overflow: auto;
  white-space: pre;
  display: block;
  border-radius: 10px;
  background-color: rgb(45, 45, 45);
  color: rgb(204, 204, 204);
}

/* Python syntax highlighting colors */
code .keyword {
  color: rgb(197, 134, 192);
  font-weight: bold;
}

code .builtin {
  color: rgb(220, 220, 170);
}

code .string {
  color: rgb(152, 195, 121);
}

code .comment {
  color: rgb(92, 99, 112);
  font-style: italic;
}

code .number {
  color: rgb(209, 154, 102);
}

code .function {
  color: rgb(97, 175, 239);
}

code .class {
  color: rgb(229, 192, 123);
}

code .decorator {
  color: rgb(86, 182, 194);
}

.headline {
  font-family: 'Rancho', handwriting;
  font-size: 400%;
  padding: 0; 
  margin: 0;
}

.copy {
  font-size: 16px;  
  color: rgb(125, 125, 125);
}

/* unvisited link */
.link:link {
    color: rgb(125, 125, 125);
    text-decoration: none;
  }
  
  /* visited link */
  .link:visited {
    color: rgb(125, 125, 125);
  }
  
  /* mouse over link */
  .link:hover {
    color: rgb(24, 53, 76);
    text-decoration: underline;
  }
  
  /* selected link */
  .link:active {
    color: rgb(125, 125, 125);
  }

.heading-link {
  font-size: 20pt;
  color: rgb(125, 125, 125);
  text-decoration: none;
  margin-left: 10px;
}

  .heading-link:hover {
    opacity: 100;
    color: rgb(24, 53, 76);
    text-decoration: none;
  }